body{
  src: url(./Handlee-Regular.ttf);
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
 }
 .todo-item-toggle p {
  color: #888;
  text-decoration: line-through;
 }


 .todo-item-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
 }
 .todo-item-toggle p {
  color: #888;
  text-decoration: line-through;
 }



 .checkbox-basic {
  border-radius: 3px;
  appearance: none;
  width: 3px;
  height: 3px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px;
  /*cursor: pointer;*/
  margin:5px;
  margin-top: 15px;
}

.checkbox-basic:checked {
  transition: ease;
  background-image: url(./CheckMark.svg);
  background-size: 100%;
  background-color:#ffffff;
}

.checkbox-basic:hover {
  box-shadow: 0 0 0 3px hsl(0, 0%, 85%);
  border-color: hsl(0, 0%, 40%);
}





.TextBoxStyle{
width: 13%;
height: 25px;
color: rgba(0, 0, 0, 0.87);

font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;


transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
border: none;
border-bottom: 1px solid rgba(89, 155, 209, 0.87);
border-radius: 4px 4px 0 0;
background: rgb(245, 245, 245);
}
.TextBoxStyle:hover{
    border-bottom-color: rgba(89, 155, 209, 0.87);
    background: #ececec;
    
}
.TextBoxStyle:focus{
    outline:0;
    border-bottom: 1px solid rgba(89, 155, 209, 0.87);
}











.AddButton {
  margin-left: 20px;
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(89, 155, 209, 0.87);
  border: 1px solid transparent;
  border-radius: .35rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;

  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 40px;
}

.AddButton:hover,
.AddButton:focus {
  background-color: rgba(89, 155, 209, 0.87);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.AddButton:hover {
  transform: translateY(-1px);
}

.AddButton:active {
  background-color: rgba(89, 155, 209, 0.87);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}




.imgDelete{
  width:20px;
  height: 20px;
}


.ButtonDelete{
  margin-top: 5px;
  background: url(./DeleteIcon.svg);
  background-size: contain;
  width: 50px;
  height: 50px;
  border: 0;
}